#root {
  width: 100%;
}

.Banner {
  position: sticky;
  top: 0;
  padding: 2rem;
  background-color: brown;
  width: auto;
  margin-bottom: 2rem;
  z-index: 10;
}

button {
  margin: 0.5rem;
}

input {
  width: 50%;
  margin: auto 0 auto 0;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column !important;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.justify-center {
  justify-content: center;
}

.PokemonList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.PokeCard {
  position: relative;
  text-align: center;
  width: 10%;
  display: flex;
  flex-direction: column;
  background-color: blanchedalmond;
  padding: 3rem;
  margin: 3rem;
  transition: ease-in-out 0.5s;
}

.PokeCard:hover {
  bottom: 5px;
}

.PokeCard h2 {
  color: black;
  text-transform: capitalize;
}

.PokeCard span {
  color: grey;
  font-size: 14px;
}

.PokeCard img {
  width: 150px;
  height: 150px;
}

.PokeDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background: repeating-linear-gradient(45deg,
      #606dbc,
      #606dbc 10px,
      #465298 10px,
      #465298 20px);
}

.PokeDetails img {
  width: 150px;
  height: 150px;
}

.PokeDetails h2 {
  margin: 0;
}

.pokeBold {
  background: linear-gradient(to right, #6e5649 80%, transparent);
  padding: 5px;
  text-transform: capitalize;
}

.pokeLight {
  background: linear-gradient(to right, #958377 80%, transparent);
  padding: 5px;
  text-transform: capitalize;
}

.pokeStat {
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
}
