#root {
  width: 100%;
}

.Banner{
  position: sticky;
  top: 0;
  padding: 2rem;
  background-color: brown;
  width: auto;
  margin-bottom: 2rem;
  z-index: 10;
}
button{
  margin: 0.5rem;
}

input{
  width: 50%;
  margin: auto 0 auto 0;
}

.d-flex{
  display: flex;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.justify-center{
  justify-content: center;
}

.PokemonList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.PokeCard{
  position: relative;
  text-align: center;
  width: 10%;
  display: flex;
  flex-direction: column;
  background-color: blanchedalmond;
  padding: 3rem;
  margin: 3rem;
  transition: ease-in-out 0.5s;
}
.PokeCard:hover{
  bottom: 5px;
}

.PokeCard h2{
  color: black;
  text-transform: capitalize;
}
.PokeCard span{
  color: grey;
  font-size: 14px;
}
.PokeCard img{
  width: 150px;
  height: 150px;
}